@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Merriweather&display=swap');

.header-color {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin: 0;
  padding: 0;
}

.card-color {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0; 
  width: 25%;
  height: 100%;
}

.page {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
}


/* sign in and sign up page */
.sign {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  margin: auto;
  margin-top: 2em;
  background:white;
  border: 8px solid #3f51b5;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px 8px black;
  border-radius: 10px;
 }

/* checklist css */
 .banner-text-checklist {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 2em;
  background:rgba(255, 255, 255, 0.4);
  border: 8px solid #3f51b5;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px 8px black;
  border-radius: 10px;
  margin-bottom: 10em;
}

/* weather */
.banner-text-weather {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 2em;
  background:rgba(255, 250, 250, 0.4);
  border: 8px solid #3f51b5;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px 8px black;
  border-radius: 10px;
  margin-bottom: 10em;
}

/* weatherCard */

